@use "../abstracts/functions" as fn;
@use "../abstracts/variables" as vars;

.editor {
  max-width: fn.rem(620px);
  margin: fn.rem(54px) auto;
  padding: fn.rem(28px);
  border-radius: fn.rem(vars.$radius-3xl);

  h1 {
    color: var(--text-heading);
  }

  form {
    display: grid;
    gap: fn.rem(12px);
    margin-bottom: fn.rem(12px);
  }
}

.tabs {
  display: flex;
  gap: fn.rem(10px);
  margin: fn.rem(14px) 0;
}
